<a href="https://colab.research.google.com/github/SubhikshaSiva/BA765-session02-SUBHIKSHA/blob/main/Copy_of_02_ListsTuples_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lists and Tuples

**Lists:** Holds multiple elements of various kinds, one of the built in structures to store collections of data. They are ordered and changeable. 

Lists are commonly used, has many interesting methods. 

**Tuples:** Holds multiple elements like lists, ordered but not changable. Not as commonly used by the end developer but often a part of the class methods.

## Tuples

In [ ]:
tup = (1,2,3,3)

In [ ]:
type(tup)

tuple

In [ ]:
len(tup)

4

In [ ]:
# tuples have interesting methods:
#
# tuples allow duplicates:
print(tup.count(3))
# tuples are indexed:
print(tup.index(2))
#indexing starts from 0 , so 2 is present in the 1st position

2
1

Here is another way to define tuples:


```
tup2 = 1,1,1,2,3,3
```

But you don't know me yet and shouldn't trust everything I say and check for yourself :)

In [ ]:
# define the tuple as shown above:
tup2 = 1,1,1,2,3,3

In [ ]:
# check its type
type(tup2)

tuple

In [ ]:
# check its values
print(tup2)

(1, 1, 1, 2, 3, 3)

In [ ]:
# count the ones in it
print(tup2.count(1))

3

## Lists

In [ ]:
x= [1,2,3]
type(x)

list

In [ ]:
x

[1, 2, 3]

In [ ]:
y= ['a', 1, 2.3, True]

In [ ]:
type(y)

list

I wonder, can lists host other lists, i.e. nested lists?

In [ ]:
z= [1, 2, 3 , y , 'b']
#yes, nested lists are possible

In [ ]:
z

[1, 2, 3, ['a', 1, 2.3, True], 'b']

#### Quick exercise

In [ ]:
# How many elements does z have? 
#(you can use a function you learnt for strings to answer this)
print(len(z))

# your code here

5

In [ ]:
# How many 1s are there in z?
print(z.count(1))

#your code here

1

## List methods
Lists have many more methods than tuples. 

While exploring those, let's see some other useful functions as we go:

In [ ]:
tmp = list(range(1,12,2))

In [ ]:
tmp

[1, 3, 5, 7, 9, 11]

In [ ]:
# can we add the last number or take out the first one?
#for appending
tmp.append(24)
tmp
# my code here
tmp.pop(0)
print(tmp)

[3, 5, 7, 9, 11, 24]

In [ ]:
# let's do sth similar with strings:
x = ['a', 'b', 'c']
x.pop(0)
print(x)
#if no index is specified in pop, it will pop from the end

['b', 'c']

In [ ]:
x.append(4)
print(x)

['b', 'c', 4]

In [ ]:
# can we append to an empty list?
tmp2 = []
tmp2.append('will it work?')
tmp2

['will it work?']

In [ ]:
# let's make this list a bit longer
tmp2 += x
tmp2

['will it work?', 'b', 'c', 4]

In [ ]:
# let's remove some elements
tmp2.pop()

4

In [ ]:
tmp2

['will it work?', 'b', 'c']

In [ ]:
# Try the other following methods 
# what do they do?
#
# mylist.clear()
# mylist.remove()
mylist=[1,2,3,4]
mylist.clear()
mylist
mylist1 = ['apple','orange','banana']
mylist1.remove('apple')

## Indexing/Slicing

In [ ]:
slicer = [1,5,6,7,8]

In [ ]:
#How to access to data with its address
slicer[0]

1

In [ ]:
#can you guess what the following line will return?
slicer[2]**2

36

In [ ]:
#python allows access from the reverse order too!
slicer[-1]

8

In [ ]:
#Note that not all languages start indexing from 0
# indeed this about python often causes a well known bug :)
len(slicer)

5

In [ ]:
print(slicer[len(slicer)-1])
#slicer[len(slicer)] just this wont work as slicer[5] is not present 
print(slicer[-len(slicer)])

8
1

## Range selection

In [ ]:
print(slicer)
slicer[0:2]

[1, 5, 6, 7, 8]

[1, 5]

In [ ]:
slicer[1:3]

[5, 6]

In [ ]:
myword = "programming"
print(len(myword))
myword[0:3]

11

'pro'

In [ ]:
# will this work, or give an index error?
myword[0:21]

'programming'

In [ ]:
#Try the following, see what they do:
myword = 'programming'
print(myword[:])
print(myword[8:])
print(myword[:3])
print(myword[3:7])
print(myword[:-8])
print(myword[-11:])
print(myword[::-1])
print(myword[-9:-5])

programming
ing
pro
gram
pro
programming
gnimmargorp
ogra

In [ ]:
#knowing how to reverse can get handy:
print(x)
x.reverse()
print(x)

['b', 'c', 4]
[4, 'c', 'b']

### Quick exercise:
1.  Define a new string "I started to like this course".
2.  Split the string by using space as the delimeter, and assing the output to a list
3.  Print the first element of the list
4.  Print the last element of the list
5.  Print the list reversed
6.  Print the second and third element of the list

### Even quicker exercise

1.  make a list that looks like `x=[2,3,...,30]`
2.  print the first 2, last 2, and 12th elements
3.  reverse the values of the list in place

In [ ]:
# One important nuance before we wrap this up
# make sure to check the type of what your commands return:
tmp

[3, 5, 7, 9, 11, 24]

In [ ]:
tmp[0]

3

In [ ]:
tmp[:1]

[3]

## Insert and Extend

In [ ]:
# Insert an element at a position
mylist = [0,1,2,3]
mylist2= [4,5,6]

In [ ]:
mylist.insert(0,'a')
mylist

['a', 0, 1, 2, 3]

In [ ]:
mylist.extend('b')
mylist

['a', 0, 1, 2, 3, 'b']

In [ ]:
print(mylist.pop(0))
print(mylist.pop(-1))

0
3

In [ ]:
mylist.insert(4,mylist2)
print(mylist)

[1, 2, [4, 5, 6], 4, [4, 5, 6], 5, 6]

In [ ]:
mylist.extend(mylist2)
print(mylist)

[1, 2, [4, 5, 6], 4, [4, 5, 6], 5, 6, 4, 5, 6]

In [ ]:
mylist + mylist2

[1, 2, [4, 5, 6], 4, 5, 6, 4, 5, 6]

In [ ]:
#quicker exercise
s=' I started to like this course'
s.split()
list1 = s.split()
print(list1)
print(list1[0])
print(list1[5])
a = list1.reverse()
print(a)
len(list1)

['I', 'started', 'to', 'like', 'this', 'course']
I
course
None

6

In [ ]:
#even quicker
list2  = list(range(2,30))
list2
print(list2[0:2])
print(list2[::-2])
print(list2[13])
b= list2.reverse()
print(b)
print(list2[::-1])

[2, 3]
[29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3]
15
None
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

#Lab time!
Hope you enjoyed this first intro to python data structures. Now beyond the basic data types such as integers, floats, you also know some data structures!

You are getting good at this! Now move to Lab notebook and solve the exercises there! As before, first make a github repo "ba765-session02" and then push your notebook there before you come *back* to the classroom